.dashboard {
    display: grid;
    grid-template-rows: 72px auto;
    grid-template-columns: 280px auto;
}

.side-item {
    grid-row-start: 2;
    grid-row-end: 3;
}

.nav-item {
    grid-column-start: 1;
    grid-column-end: 3;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    max-height: 90vh;
}

.main h2 {
    font-size: 24px;
    font-weight: 400;
    width: 90%;
    text-align: start;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 65%;
    overflow: auto;
}