:root {
    --arrow: rgba(255, 255, 255, 40%);
    --arrow-alt: rgb(255, 255, 255);
}

.welcome {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.welcome h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: Noto Sans, sans-serif;
    font-size: 6rem;
    font-weight: 100;
}

.navigate {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -10%);
    height: 60px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navigate button {
    outline: 0;
    border: none;
    background-color: transparent;
    width: 14px;
    height: 14px;
    transform: rotate(-45deg);
    border-bottom: 1px solid var(--arrow);
    border-left: 1px solid var(--arrow);
    cursor: pointer;
    animation-name: arrow;
    animation-duration: .9s;
    animation-iteration-count: 1;
    animation-delay: .4s;
    animation-timing-function: ease-in-out;
    transition: .4s;
}

.navigate button:hover, .navigate button:focus {
    border-color: var(--arrow-alt);
}

.navigate span {
    color: var(--arrow);
    font-size: 14px;
}

@keyframes arrow {
    0% {
        transform: translateY(0) rotate(-45deg);
        border-bottom: 1px solid var(--arrow);
        border-left: 1px solid var(--arrow);
    }

    25% {
        transform: translateY(-10px) rotate(-45deg);
        border-bottom: 1.5px solid var(--arrow-alt);
        border-left: 1.5px solid var(--arrow-alt);
    }
    50% {
        transform: translateY(-20px) rotate(-45deg);
        border-bottom: 2px solid var(--arrow-alt);
        border-left: 2px solid var(--arrow-alt);
    }
    75% {
        transform: translateY(-10px) rotate(-45deg);
        border-bottom: 1.5px solid var(--arrow-alt);
        border-left: 1.5px solid var(--arrow-alt);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
        border-bottom: 1px solid var(--arrow);
        border-left: 1px solid var(--arrow);
    }
}