.bar {
    position: absolute;
    height: 100%;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.switchTo {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.switchTo button {
    background: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 40%);
    transition: .6s;
}

.switchTo button:hover, .switchTo button:focus {
    color: #ffffff;
}